.container {
	margin-top: 50%;
	margin-bottom: 50%;
	display: grid;
	background-size: cover;
    place-items: center;
}

.tcontainer {
	padding-block: 10px;
}

.hcontainer {
	place-items: center;
	display: grid;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#dnn_footerleftpane, #dnn_footerMidPane, #dnn_footerRightPane {
	width: 300px;
	float: left;
  }